#chatbot {
    position: fixed !important;
    bottom: 5% !important;
    right: 2% !important;
    width: 30% !important;
    height: 92% !important;
    border: 1px solid #ccc !important;
    background: #ffffff !important;
    display: none !important;
    flex-direction: column !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    border-radius: 10px !important;
    opacity: 0 !important;
    transform: scale(0) !important;
    transform-origin: bottom right !important;
    transition: opacity 0.1s ease, transform 0.1s ease !important;
}

#chatbot.show {
    opacity: 1 !important;
    transform: scale(1) !important;
    display: flex !important;
    z-index: 99999
}

#chatbotHeader {
    background: #0078d4 !important;
    color: white !important;
    padding: 3% !important;
    cursor: pointer !important;
    text-align: center !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

#chatbotHeader span {
    font-size: 2vw !important;
}

#phoneText{
    color: #000 !important;
}

#personIcon {
    width: 3vw !important; /* アイコンの大きさを調整 */
    height: 3vw !important; /* アイコンの大きさを調整 */
    margin-right: 1vw !important; /* アイコンとテキストの間にスペースを追加 */
}

#chatbotPhone {
    background: #D5E1ED !important; /* 背景色を設定 */
    padding: 1% !important; /* 余白を設定 */
    text-align: center !important; /* テキストを中央揃え */
    font-size: 1.2vw !important; /* フォントサイズを小さく設定 */
    border-top: 1px solid #ccc !important; /* 上部に境界線を追加 */
    border-bottom: 1px solid #ccc !important; /* 下部に境界線を追加 */
}

#phoneLink {
    color: #0078d4 !important; /* リンクの色を設定 */
    text-decoration: none !important; /* リンクの下線を消す */
    font-size: 1.5vw !important; /* リンクのフォントサイズを大きく設定 */
}

#phoneLink:hover {
    text-decoration: underline !important; /* ホバー時に下線を表示 */
}

#chatbotMessages {
    flex: 1 !important;
    padding: 3% !important;
    overflow-y: scroll !important;
    background-color: #f0f0f0 !important; /* Background similar to ASKUL's message area */
}

#chatbotMessages ul {
    list-style-type: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

#chatbotMessages li {
    margin-bottom: 3% !important;
    display: flex !important;
}

.left {
    justify-content: flex-start !important;
}

.right {
    justify-content: flex-end !important;
}

.chatbot-left, .chatbot-right {
    max-width: 70% !important;
    padding: 3% !important;
    border-radius: 10px !important;
    position: relative !important;
    word-wrap: break-word !important;
    color: #000 !important; /* 吹き出しの文字色を黒に設定 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* 影を追加 */
}

.chatbot-left {
    background: #ffffff !important;
    border: 1px solid #ccc !important;
    font-size: 1.5vw !important;
}

.chatbot-left::before {
    content: "" !important;
    position: absolute !important;
    top: 10px !important;
    left: -20px !important;
    width: 0 !important;
    height: 0 !important;
    border: 10px solid transparent !important;
    border-right-color: #ffffff !important;
}

.chatbot-right {
    background: #dcf8c6 !important;
}

.chatbot-right::before {
    content: "" !important;
    position: absolute !important;
    top: 10px !important;
    right: -20px !important;
    width: 0 !important;
    height: 0 !important;
    border: 10px solid transparent !important;
    border-left-color: #dcf8c6 !important;
}

#chatbotInput {
    display: flex !important;
    padding: 3% !important;
    border-top: 1px solid #ccc !important;
    background: #ffffff !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

#chatbotInput input {
    flex: 1 !important;
    padding: 3% !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    margin-right: 1% !important;
}

#sendMessage {
    padding: 3% !important;
    background: #0078d4 !important;
    color: white !important;
    border: none !important;
    cursor: pointer !important;
    border-radius: 5px !important;
    transition: background-color 0.3s !important;
}

#sendMessage:disabled {
    background: #cccccc !important;
    cursor: not-allowed !important;
}

#openChatbot {
    position: fixed !important;
    bottom: 2% !important;
    right: 2% !important;
    width: 6vw !important; /* Set width based on viewport width */
    height: 6vw !important; /* Set height equal to width to keep it square */
    background: #0078d4 !important;
    border: none !important;
    cursor: pointer !important;
    border-radius: 50% !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5) !important; /* 影を強調 */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: transform 0.3s ease, opacity 0.1s ease !important; /* アイコンの拡大 */
    z-index: 99999 !important;
}

#openChatbot.hide {
    transform: scale(0) !important;
    opacity: 0 !important;
}

#openChatbot img {
    width: 50% !important; /* Adjust based on parent size */
    height: 50% !important; /* Adjust based on parent size */
}

.choice-button {
    background: #0078d4 !important;
    color: white !important;
    border: none !important;
    padding: 2% !important;
    margin: 1% 0 !important;
    cursor: pointer !important;
    border-radius: 5px !important;
    display: block !important;
    width: 16vw !important; /* 固定幅を設定 */
    transition: background-color 0.3s !important;
}


.choice-button:hover {
    background: #005bb5 !important;
}

.choice-button-disabled {
    background: #cccccc !important;
    cursor: not-allowed !important;
}

@media (max-width: 768px) {
    .choice-button {
        width: 45vw !important; /* スマホの場合の幅を設定 */
        height: 40px !important;
    }
}

@keyframes blink {
    0%, 100% { opacity: 1 !important; }
    50% { opacity: 0 !important; }
}

.loading {
    display: flex !important;
    align-items: center !important;
}

.loading span {
    display: inline-block !important;
    margin: 0 2px !important;
    width: 0.8vw !important;
    height: 0.8vw !important;
    background-color: #000 !important;
    border-radius: 50% !important;
    animation: blink 1.4s infinite both !important;
}

.loading span:nth-child(1) {
    animation-delay: 0.2s !important;
}

.loading span:nth-child(2) {
    animation-delay: 0.4s !important;
}

.loading span:nth-child(3) {
    animation-delay: 0.6s !important;
}

@media (max-width: 768px) {
    .loading span {
        width: 2.5vw !important;
        height: 2.5vw !important;
    }
}

@media (max-width: 768px) {
    #chatbot {
        width: 92% !important;
        height: 92% !important;
    }

    #openChatbot {
        width: 17vw !important; /* Increase width for mobile devices */
        height: 17vw !important; /* Increase height for mobile devices */
    }

    #openChatbot img {
        width: 50% !important; /* Adjust based on parent size */
        height: 50% !important; /* Adjust based on parent size */
    }

    #chatbotHeader span {
        font-size: 6vw !important;
    }
}
.choice-button {
    font-size: 1.4vw !important; /* ボタンの文字を少し大きく */
}
@media (max-width: 768px) {
    .choice-button {
        font-size: 4vw !important; /* スマホ用にさらに大きく */
    }
}

#openChatbot {
    ...
    position: relative !important;
}

#openChatbotTooltip {
    display: none !important;
    position: absolute !important;
    top: -3vw !important; /* Adjust tooltip position based on viewport size */
    left: -12% !important;
    transform: translateX(-50%) !important;
    background: #333 !important;
    color: white !important;
    padding: 0.5vw 1vw !important;
    border-radius: 5px !important;
    font-size: 1.2vw !important;
    white-space: nowrap !important;
}

#openChatbotTooltip {
    display: block !important;
}

#openChatbotTooltip::after {
    content: "" !important;
    position: absolute !important;
    bottom: -0.5vw !important; /* Position the arrow */
    left: 50% !important;
    transform: translateX(-50%) !important;
    border-width: 0.5vw 0.5vw 0 0.5vw !important;
    border-style: solid !important;
    border-color: #333 transparent transparent transparent !important;
}

@media (max-width: 768px) {
    #openChatbotTooltip {
        display: none !important;
    }
}

#openChatbot {
    position: fixed !important;
    bottom: 2% !important;
    right: 2% !important;
    width: 6vw !important; /* Set width based on viewport width */
    height: 6vw !important; /* Set height equal to width to keep it square */
    background: #0078d4 !important;
    border: none !important;
    cursor: pointer !important;
    border-radius: 50% !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5) !important; /* 影を強調 */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: transform 0.3s ease, opacity 0.1s ease !important; /* アイコンの拡大 */
    z-index: 99999 !important;
}

#openChatbot:hover {
    transform: scale(1.1) !important; /* ホバー時にアイコンを拡大 */
}

#openChatbot img {
    width: 50% !important; /* Adjust based on parent size */
    height: 50% !important; /* Adjust based on parent size */
}

@media (max-width: 768px) {
    #openChatbot {
        width: 17vw !important; /* Increase width for mobile devices */
        height: 17vw !important; /* Increase height for mobile devices */
        bottom: 20% !important;
        right: 5% !important;
        z-index: 99999 !important;
    }

    #openChatbot:hover {
        transform: none !important; /* スマホ時に拡大しない */
    }

    #openChatbot img {
        width: 50% !important; /* Adjust based on parent size */
        height: 50% !important; /* Adjust based on parent size */
    }
    
    .chatbot-left {
        font-size: 4vw !important;
    }
    
    #chatbotPhone {
        font-size: 4vw !important; /* フォントサイズを小さく設定 */
    }
    
    #phoneLink {
        font-size: 5vw !important; /* リンクのフォントサイズを大きく設定 */
    }
    
}

/* トグルボタンのスタイル */
.toggle-button {
    background-color: #ccc !important;
    border: none !important;
    color: #fff !important;
    padding: 10px !important;
    cursor: pointer !important;
    border-radius: 20px !important;
    width: 60px !important;
    text-align: center !important;
    transition: background-color 0.3s, transform 0.3s !important;
    font-size: 1.2vw !important; /* Adjust based on viewport size */
}

.toggle-button.on {
    background-color: #4CAF50 !important;
    transform: scale(1.1) !important; /* Button slightly enlarges when active */
}

.setting-item {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-bottom: 10px !important;
}

/* Responsive styles */
@media (max-width: 768px) {
    .toggle-button {
        font-size: 4vw !important; /* Adjust for mobile devices */
    }
}

#chatbotSettingsContainer {
    width: 100% !important;
    background-color: #f0f0f0 !important;
}

#chatbotSettingsHeader {
    background: #0078d4 !important;
    color: white !important;
    padding: 1% !important;
    text-align: center !important;
    cursor: pointer !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

#chatbotSettingsHeader span {
    font-size: 1.2vw !important; /* Adjust as needed */
}

.hidden {
    display: none !important;
}

/* トグルボタンのスタイル */
.toggle-button {
    background-color: #ccc !important;
    border: none !important;
    color: #fff !important;
    padding: 2% !important;
    cursor: pointer !important;
    border-radius: 15px !important;
    width: 18% !important;
    text-align: center !important;
    transition: background-color 0.3s, transform 0.3s !important;
    font-size: 1.2vw !important; /* Adjust based on viewport size */
}

.toggle-button.on {
    background-color: #4CAF50 !important;
    transform: scale(1.1) !important; /* Button slightly enlarges when active */
}

.setting-item {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 1% 0% 1% !important;
    color: black !important;
}

/* Responsive styles */
@media (max-width: 768px) {
    .toggle-button {
        font-size: 4vw !important; /* Adjust for mobile devices */
    }

    #chatbotSettingsHeader span {
        font-size: 4vw !important; /* Adjust for mobile devices */
    }
}

.toggle-button {
    background-color: #eb8333 !important;
}

.hidden {
    max-height: 0 !important;
    overflow: hidden !important;
    transition: max-height 0.5s ease-out !important;
}

#chatbotSettings {
    max-height: 0 !important; /* 初期値は0 */
    overflow: hidden !important;
    transition: max-height 0.3s ease-in-out !important;
}
